@import "~src/app/designSystem/designSystem"

main
  display: grid
  #contents
    #contentsListContainer
      padding: 0px 16px
      #contentsList
        list-style-type: upper-roman
        li
          cursor: pointer
          transition: background-color 120ms
          &:hover
            font-weight: 600
            background-color: $grey-light

@media only screen and (max-width: 900px)
  main
    #contents
      width: max-content
      justify-self: center

@media only screen and (max-width: 500px)
  main
    #contents
      max-width: 100%
      #contentsTitle
        text-align: center
      #contentsListContainer
        padding: 0
        max-width: 100%
        box-sizing: border-box
        #contentsList
          margin: 0
          box-sizing: border-box
          padding: 0 16px
          max-width: 100%
          li
            display: block
            box-sizing: border-box
            max-width: 80vw
            text-align: center
