<app-header
[title]="'Titel des Buches'"
imgSrc="./assets/images/icons/svg/exampleImage4.svg"
></app-header>
<main>
  <div id="contents">
  <h2 class="heading-2" id="contentsTitle">Inhaltsverzeichnis</h2>
  <section id="contentsListContainer">
    <ol id="contentsList">
      <li class="subheading-2" [routerLink]="['/text']">Kapitel 1: Lorem ipsum cum dolor</li>
      <li class="subheading-2" [routerLink]="['/text']">Kapitel 1: Lorem ipsum cum dolor</li>
      <li class="subheading-2" [routerLink]="['/text']">Kapitel 1: Lorem ipsum cum dolor</li>
    </ol>
  </section>
  </div>
</main>
<footer></footer>
