<header>
  <div id="topBar" [style.backgroundColor]="color">
    <button mat-icon-button id="goBackButton" (click)="goBack()" >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h3>{{title}}</h3>
  </div>
  <div id="backgroundContainer" [style.backgroundColor]="color">
    <h1 id="textTitleTop" class="heading-1">{{title}}</h1>
  </div>
  <figure id="headerImageContainer">
    <img id="headerImage" [src]="imgSrc" alt="Icon für dieses Buch">
  </figure>
  <h1 id="textTitleBottom" class="heading-1">{{title}}</h1>
</header>
